body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    text-align: justify;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #fff;
    background-image: linear-gradient(140deg, #D7A1F9 0%, #3b0054 60%);
    color: #fff;
  }
  
  h1 {
    font-size: 220%;
  }
  
  h2 {
    margin: 2% 0;
    font-size: 180%;
  }
  
  nav ul {
    min-width: 300px;
    font-size: 20px;
    padding-left: 30%;
  }
  
  nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
  }
  
  section {
    flex: 1 1 0;
    padding-right: 5%;
  }
  
  article {
    border-bottom: 3px solid darkorchid;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
  article p {
    margin: 2% 0;
    font-size: 110%;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #fff;
    background-image: linear-gradient(140deg, #3b0054 00%, #D7A1F9 100%);
    color: #fff;
  }
  
  .links a {
    color: skyblue;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .ZionSelfie img {
    width: 40%;
    border: 1px solid #9799a7;
    float: right;
    margin: 8px 0 0 20px;
    margin-bottom: 12px;
    padding: 4px;
  }

  .products {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    flex: 0 0 300px;
    transform: rotate(8deg);
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
  }
  .card img {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  .card > header {
    border-radius: 7px;
    padding: 20px;
  }
  
  .card > img {
    width: 80%;
  }
  
  @media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
    
  }